body {
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title {
    font-weight: normal;
    font-size: 50px;
    color: aliceblue;
}

.title2 {
    font-size: 42;
    font-weight: 300;
    color: grey;
}

.title3 {
    font-size: 21;
    color: aliceblue;
}

.link--cta {
    font-size: 16px;
    color: aquamarine;

}